.container {
	padding: 20px;
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 5px 0px;
	border-radius: 10px;
}

.container:hover,
.active {
	background-color: #2e374a;
}

.notificationIndicator {
	background-color: #ed4956; /* example color for the notification badge */
	border-radius: 50%;
	color: white;
	font-size: 0.75rem;
	padding: 0.25em 0.6em;
	position: absolute; /* adjust as needed */
	top: 0; /* adjust as needed */
	right: 0; /* adjust as needed */
	transform: translate(
		50%,
		-50%
	); /* this will help center the badge over the corner */
	font-weight: bold;
}
